.statistics-section {
	align-items: center;
	background-color: skyblue;
	display: flex;
	justify-content: space-between;
	border: 1px solid red;
	max-width: 918px;
	margin: 120px auto 0 auto;
	padding: 0 20px;
}

.statistics__block {
	display: flex;
	flex-direction: column;
	background-color: plum;
}

.statistics__icon {
	display: block;
}

.statistics__number {
	align-self: center;
	color: var(--very-dark-cyan);
	font-size: 6rem;
	font-weight: 700;
	line-height: 7rem;
}

.statistics__text {
	align-self: center;
	color: var(--gray);
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 2.25rem;
	margin-top: 18px;
}

@media (max-width: 620px) {
	.statistics-section {
		flex-direction: column;
		gap: 88px;
	}
}

@media (max-width: 500px) {
	.statistics__icon {
		width: 35.6px;
		height: 35.6px;
	}

	.statistics__number {
		font-size: 3.8125rem;
		/* line-height: 7rem; */
	}

	.statistics__text {
		font-size: 0.9525rem;
		line-height: 1.4375rem;
	}
}

/* TODO add margins in media queries */
